// Colors

$color0: white;
$color1: #140f07;
$color2: #102743;
$color3: #086aad;
$color4: #1db6ff;
$color5: #37fff9;
$color6: #cbf5f4;
$color7: #f6f6f6;
$color8: rgba(0, 0, 0, 0.445);



$box-shadow: inset 1.5px 1.5px 0 rgb(0 0 0 / 12%), inset 0 -1.5px 0 rgb(0 0 0 / 9%);

// layout
$layoutPadding: 20px;

$break-small: 650px;
$break-meduim: 650px;
$break-large: 1200px;
